:root{
    --black: #222323;
    --purple: #a238ff;
}

body,html{
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: white;
    }
.body{
    background: url("https://static.wixstatic.com/media/c837a6_831fe7c79e9e45869554588550034ac1~mv2.jpg/v1/fill/w_1310,h_1081,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_831fe7c79e9e45869554588550034ac1~mv2.jpg");
}
/* header */
header{ 
    font-family: Arial,Helvetica,sans-serif;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 1;
}
.header{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    box-shadow: 5px 0 15px 5px black;
}
.header button{
    margin-right: 30px;
}
.header h1{
    margin-left: 30px;
}

/* button */
button{
    color: white;
    background-color: var(--purple);
    border: none;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 0 15px 5px var(--purple);
    transition:all ease-in 0.2s ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button a{
    color: white;
    text-decoration: none;
    transition:all ease-in 0.2s ;
}
button a:hover{
    color: black;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* icon */
.bx{
    font-size: 25px;
    position: relative;
    top: 3px;
}

/* nav link */
  .nav_link{
    padding: 30px 15px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: white;
    font-weight: 100;
    transition:all ease-in 0.2s ;
  }
  
  .nav_link:hover{
    color: var(--purple);
  }

  /* progress bar */
  .progerss {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    background-color:transparent;
  }
.progress-container {
    width: 100%;
    height: 8px;
    background: transparent;
  }

  .progress-bar {
    height: 8px;
    background: var(--purple);
    width: 0%;
  }

  /* main */
.main{
    float: left;
    margin-left: 200px;
    margin-top: 350px;
}

.main p{
    color: white;
    font-size: 24px;
}

.font{
    color: white;
    font-size: 60px;
    font-weight: 700;
}
.font2{
    position: relative;
    color: white;
    font-size: 18px;
    top: -20px;
}


  .watch {
    background-image: url("https://static.wixstatic.com/media/c837a6_8abd90a25be34a758931e215516dbd7f~mv2.png/v1/crop/x_1756,y_452,w_3479,h_3461/fill/w_548,h_540,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/new%20first%20fold.png");
    min-height: 900px; 
    background-position: right;
    background-repeat: no-repeat;
    background-size: 500px;
  }

  /* training */
.training{
    padding: 200px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent),
    url("https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2021-12/211208-working-out-stock-mn-1310-55e1c7.jpg");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position-x: -200px;
    background-position-y: 70px;
    background-color:  var(--black);
}
.content{
    width: 50%;
    color: white;
}
.phoneimg{
    height: 500px;
}

/* belt */
.belt{
    text-align: center;
    padding: 50px 100px;
    background-color: var(--black);
}
.belt div{
    margin: 0 auto;
    width: 500px;
}

/* alarm */
.alarm{
    background-color: var(--black);
    padding: 200px 100px;
    color: white;
    text-align: right;
    background-image: linear-gradient(to left, rgb(0, 0, 0), transparent),
    url("https://9to5google.com/wp-content/uploads/sites/4/2022/05/Pixel-Watch-RAM-cover.jpeg?quality=82&strip=all");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wraper{
    width: 50%;
    margin-left: auto; 
    margin-right: 0;
}

/* stats */
.stats{
    text-align: center;
    padding: 10px;
    background-image: url("https://static.wixstatic.com/media/c837a6_fb6b573bb68c43edaa2a3a4d94895028~mv2.png/v1/crop/x_2176,y_747,w_2653,h_3422/fill/w_739,h_949,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/shutterstock_1523629793edited.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    background-position-y: 50px;
}
.badge{
    width: 300px;
    height: 100px;
    background-color: var(--black);
    border-radius: 25px;
    position: relative;
    color: white;
    font-size: 16px;
    box-shadow: 0 0 25px 3px rgba(255, 255, 255, 0.198);
    padding: 20px;
}
.topleft{
    top:50px;
    left: 10%;
}
.botright{
    top: 30px;
    left: 60%;
}
.topright{
    top:-50px;
    left: 65%;
}
.botleft{
    top:120px;
    left: 5%;
}
.badge p{
    font-size: 18px;
}
.badge span{
    position: relative;
    top: -10px;
    font-size: 24px;
}
.buton{
margin-top: 49px;
}

/* two */
.two{
    padding: 100px 100px 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    background-color: var(--black);
}
.div{
    padding-top: 30px;
    height: 600px;
    width: 350px;
}
.first{
    background:   linear-gradient(to bottom, rgba(0, 0, 0, 0.507), transparent), 
    url("https://img.championat.com/s/735x490/news/big/h/c/chem-zamenit-dnevnoj-son_16158041621378360696.jpg");
    background-position-x: -150px;
    background-size: 800px;
    background-repeat: no-repeat;
  
}
.second{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.507), transparent),
    url("https://img.championat.com/news/big/n/f/kak-pravilno-meditirovat-sovety-praktika_157684379279536979.jpg");
    background-position-x: -150px;
    background-size: 800px;
    background-repeat: no-repeat;
}

/* subscribe */
.sub{
    text-align: center;
    padding: 60px 0;
    background-color: var(--black);
    color: white;
}
.form-control{
    width: 500px;
    border-radius: 35px;
    padding: 25px 25px;
}
.input-group-text{
    position: relative;
    left: -120px;
    background-color: var(--purple);
    border-radius: 25px;
    padding: 10px;
}

footer{
    padding: 15px;
    background-color: var(--black);
}

.overlay{
    display: grid;
    place-items: center;
    visibility: hidden;
}
.account{
    border-radius: 15px;
    background-color: var(--black);
    width: 40%;
    height: 300px;
    top: 100px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    font-size: 20px;
    padding: 30px;
}
.account input{
    background-color: transparent;
    color: white;
    height: 25px;
    font-size: 16px;
}
.account button{
    transition: inherit;
}
.open-modal{
    visibility: visible;
}

/*          buy         */
.all{
    display: flex;
    justify-content: space-around;
    padding: 5% 15%;
}

input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 4px solid #999;
    transition: 0.2s all linear;
    outline: none;
  
}
input:checked {
    background-color: var(--purple);
  }

#white{
    border: 4px solid rgb(255, 255, 255);
}
#black{
    border: 4px solid rgb(0, 0, 0);
}
#blue{
    border: 4px solid rgb(55, 0, 255);
}
p{
    font-size: 16px;
}
.image{
    width: 55%;
}

.description{
    width: 45%;
}
.description button{
    margin-top: 15px;
    width: 100%;
}

.productp, .moneyp, .deliveryp{
    display: none;
}

.show{
    display: block;
}

a{
    color: white;
    text-decoration: none;
}


/*             busket              */
.busket{
    padding: 100px 300px;
}
.busket h3{
    text-align: center;
}